#text-display {
  background-color: #777777;

  min-width: 100px;
  min-height: 100px;
  width: 70%;
  height: 50vh;

  overflow: auto;

  padding: 20px;

  overflow: auto;

  display: grid;
}

.message-divs {
  background-color: #ff0000 !important;
  color: red;
  opacity: 100;

  overflow: auto;

  position: relative;
  z-index: 9999;

  max-width: 80px;
  max-height: 10px;
  width: 50px;
  height: 10px;

  padding: 20px;
}
